<script type="text/ecmascript-6">
import axios from 'axios';

export default {
    props: ['item'],
    data() {
        return {
            isActive: true,
            isSave: false,
            isError: false
        }
    },
    computed: {
        button: function () {
            if (this.isActive) {
                return 'Save'
            } else if (this.isSave) {
                return 'Saved'
            } else if (this.isError) {
                return 'Error'
            }
        }
    },
    methods: {
        save: function (event) {
            axios.post('/test/api/catalog/', {
                xml_id: this.item.id,
                name: this.item.name,
                category: this.item.categories,
                image: this.item.image
            }).then(response => {
                this.isActive = false;
                this.isSave = true;
                //.data.id = response.data.id
                // console.log(event.target)
            }).catch(error => {
                this.isActive = false;
                this.isError = true;
                console.log(error)
            })
        }
    }
}
</script>

<template>
    <div class="card h-100">
        <div class="card-img-top align-content-center justify-content-center" style="min-height: 17rem">
            <img v-bind:src="item.image" class="rounded mx-auto d-block mt-4"
                 style="max-height: 15rem; max-width: 12rem" v-bind:alt="item.name">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.categories }}</p>
        </div>
        <button v-bind:class="{ 'btn-primary': isActive, 'btn-info': isSave, 'btn-danger': isError}" class="btn"
                v-on:click="save">{{ button }}
        </button>
    </div>
</template>
