<script>
import axios from 'axios';
import vPagination from 'vue-plain-pagination'
import lodash from 'lodash';

export default {
    components: {vPagination},
    data() {
        return {
            query: '',
            searchQueryIsDirty: false,
            isCalculating: false,
            items: [],
            currentPage: 1,
            totalPages: 0,
            bootstrapPaginationClasses: {
                ul: 'pagination',
                li: 'page-item',
                liActive: 'active',
                liDisable: 'disabled',
                button: 'page-link'
            },
            paginationAnchorTexts: {
                first: 'First',
                prev: 'Previous',
                next: 'Next',
                last: 'Last'
            }
        }
    },
    computed: {
        searchIndicator: function () {
            if (this.query) {
                if (this.isCalculating) {
                    return '⟳ Fetching new results'
                } else if (this.searchQueryIsDirty) {
                    return '... Typing'
                } else {
                    return '✓ Done'
                }
            }
        }
    },
    methods: {
        fetch: _.debounce(function () {
            this.$insProgress.start()
            this.isCalculating = true

            axios.get('/test/api/search/', {
                params: {
                    query: this.query,
                    page: this.currentPage
                }
            }).then(response => {
                this.currentPage = Number.parseInt(response.data.page)
                this.totalPages = Math.ceil(Number.parseInt(response.data.count) / Number.parseInt(response.data.page_size))

                let items = [];

                response.data.products.forEach(function (item) {
                    items.push(
                        {
                            'id': item.id ?? item._id,
                            "name": item.product_name ?? "",
                            'categories': item.categories ?? "",
                            'image': item.image_url ?? '/vendor/search/assets/no-image.jpg'
                        }
                    )
                })

                this.items = items
                this.isCalculating = false
                this.searchQueryIsDirty = false
            }).catch(error => {
                console.log(error)
            })

            this.$insProgress.finish()
        }, 500)
    },
    watch: {
        query(after, before) {
            if (after !== before) {
                this.currentPage = 1
            }
            this.searchQueryIsDirty = true
            this.fetch();
        }
    }
}
</script>

<template>
    <div class="container mt-4">
        <div class="align-items-center py-4 header">
            <input v-model="query" class="form-control mr-sm-2 w-100" type="search" placeholder="Search">
            <small>{{ searchIndicator }}</small>
        </div>
        <vue-ins-progress-bar></vue-ins-progress-bar>
        <div class="row">
            <div class="col-sm-3 mt-4" v-for="item in items" :key="item.id">
                <catalog-card v-bind:item="item" v-bind:key="item.id"></catalog-card>
            </div>
        </div>
        <div class="row mt-4" v-if="totalPages">
            <div class="col">
                <nav>
                    <v-pagination v-model="currentPage"
                                  v-bind:page-count="totalPages"
                                  v-bind:classes="bootstrapPaginationClasses"
                                  v-bind:labels="paginationAnchorTexts"
                                  @change="fetch">
                    </v-pagination>
                </nav>
            </div>
        </div>
    </div>
</template>
